.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  /* border-bottom: 1px solid #ffffff; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 19px 19px 76px -6px rgba(65, 45, 212, 0.28);
  -webkit-box-shadow: 19px 19px 76px -6px rgba(65, 45, 212, 0.28);
  -moz-box-shadow: 19px 19px 76px -6px rgba(65, 45, 212, 0.28);
  position: sticky; /* position 을 sticky로 설정하고 top, left를 각 0으로 주어야 딱 왼쪽 상단에 붙어있음 */
  top: 0;
  left: 0;
  z-index: 10;
}

.header img {
  height: 24px;
  width: auto;
}

.header span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(27, 27, 27);
  font-style: italic;
  padding-bottom: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.menuIcon {
  font-size: 24px;
  padding-bottom: 2px;
  color: rgb(27, 27, 27);
  position: relative;
  cursor: pointer;
}
