.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 70%;
  right: 3%;
  font-size: xx-small;
  background-color: #fff;
  border-radius: 5%;
  border: 0.5px solid rgb(237, 237, 237);
  padding: 10px;
  box-shadow: 19px 19px 76px -6px rgba(65, 45, 212, 0.28);
  -webkit-box-shadow: 19px 19px 76px -6px rgba(65, 45, 212, 0.28);
  -moz-box-shadow: 19px 19px 76px -6px rgba(65, 45, 212, 0.28);
  z-index: 1; /* 다른 요소 위에 나타나게 */
}

.linkbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: inherit;
}

.icons {
  padding-right: 5px;
}
